<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no minimal-ui">
	<link rel="stylesheet" href="amazeui/css/amazeui.min.css">
	<link rel="stylesheet" type="text/css" href="iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
	<script src="javascripts/vue.min.js"></script>
</head>
<body><!--设备状态数据-->
	<div class="content" id='home'>
		<!-- 顶部 -->
		<div class="indexTop" :style='homeStyle'>
			<!-- 水球 -->
			<div class="waterQiu">
				<div class="waterQius"> 
					<div class="picKuan"></div>
					<div class="waterPure">
						<p>
							<a v-text='tdsPure'>0</a>
							<span class='fwhite'>ppm</span>
						</p>
						<span class='fwhite'>纯水TDS</span>
					</div>
					<div class="waterRaw">
						<p>
							<a v-text='tdsRaw'>0</a>
							<span class='fwhite'>ppm</span>
						</p>
						<span class='fwhite'>原水TDS</span>
					</div>
					<!-- 水波浪 -->
					<div class='wave -one'></div>
					<div class='wave -two'></div>
					<div class='wave -three'></div>
				</div>
			</div>
			<!-- 水波浪 -->
			<div class="waterLiu">
				<div id="statusBox" class="allStatus">
					<div class="status addwater left">
						<p><i :class="statusIconName"></i></p>
						<span v-text='statusText'></span>
					</div>
					<!-- <div class="statusZhishui addwater left">
						<p><i class="iconfont icon-zhishui"></i></p><span>制水</span>
					</div>
					<div class="fullWaters left">
						<p><i class="iconfont icon-shuiman"></i></p>
						<span>水满</span>
					</div>
					<div class="statusShuiman service right">
						<p><i class="iconfont icon-jianxiu"></i></p>
						<span>检修</span>
					</div>
					<div class="statusShuiman lessWaters right">
						<p><i class="iconfont icon-queshui"></i></p>
						<span>缺水</span>
					</div>
					<div class="statusShuiman wash right">
						<p><i class="iconfont icon-chongxi"></i></p>
						<span>冲洗</span>
					</div>
					<div class="statusShuiman showDown right">
						<p><i class="iconfont "></i></p>
						<span>已关机</span>
					</div>
					<div class="statusShuiman arrearage right">
						<p><i class="iconfont "></i></p>
						<span>已欠费</span>
					</div>
					<div class="statusShuiman outLine right">
						<p><i class="iconfont "></i></p>
						<span>已离线</span>
					</div>
					<div class="statusShuiman leaking right">
						<p><i class="iconfont icon-leaking"></i></p>
						<span>漏水</span>
					</div> -->
				</div>
				<div class='fwhite'>
					<div v-if='leasingmode == 0'>剩余天数<span>40</span>天</div>
					<div v-if='leasingmode == 0'>已用天数<span>200</span>天</div>
					<div v-if='leasingmode == 1'>剩余流量<span>40</span>L</div>
					<div v-if='leasingmode == 1'>已用流量<span>200</span>L</div>
					<div v-if='leasingmode == 2'>剩余流量<span>40</span>L</div>
					<div v-if='leasingmode == 2'>已用流量<span>200</span>L</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		<div class="indexBottom" :style='homeStyle'>
			<ul>
				<li>
					<a href="javascript:;" @click='filterShow'><p class="iconfont icon-filter"></p><span>滤芯</span></a>
				</li>
				<li>
					<a href="javascript:;" @click='power'><p class="iconfont icon-power"></p><span class="switchText" v-text='powerStatus'></span></a>
				</li>
				<li>
					<a href="javascript:;" @click='wash'><p class="iconfont icon-wash"></p><span class="washText">冲洗</span></a>
				</li>
			</ul>
			<ul>
				<li>
					<a class="buy" href="javascript:;"><p class="iconfont icon-buy"></p><span>购买</span></a>
				</li>
				<li>
					<a href="javascript:;"><p class="iconfont icon-user"></p><span>我的</span></a>
				</li>
				<li>
					<a class="repair" href="javascript:;"><p class="iconfont icon-repair"></p><span>报修</span></a>
				</li>
			</ul>
		</div>
		<!-- 分享 -->
		<div class="share" :style='homeStyle'>分享</div>
		<!-- 分享面板 -->
		<div class="shareContent" style="display:none;">
			<ul class="shareContents">
				<li>
					<div class="shweixin"><span class="iconfont icon-weixin1" style="color: rgb(11,202,52)"></span><span>微信</span></div>
					<div class="shweibo"><span class="iconfont icon-weibo" style="color: rgb(251,96,90)"></span><span>微博</span></div>
					<div class="shpyquan"><span class="iconfont icon-pengyouquan1" style="color: rgb(11,202,52)"></span><span>朋友圈</span></div>
					
				</li>
				<li>
					<div class="shQQ"><span class="iconfont icon-qq" style="color: rgb(81,145,216)"></span><span>QQ</span></div>
					<div class="shkjian"><span class="iconfont icon-kongjian00" style="color: rgb(251,176,52)"></span><span>空间</span></div>
					<div class="shscang"><span class="iconfont icon-xingxing" style="color: rgb(125,174,207)"></span><span>收藏</span></div>
				</li>
				<li class="cancel">
					<p>取消</p>
				</li>
			</ul>
		</div>
		<!-- 滤芯部分 -->
		<div id='filter' :style='filterstyle'>
			<div class='filterTop cfix'>
				<span class='fleft fblue' @click='filterMove' index='0' dataclass='fleft'>滤芯详情</span>
				<span class='fright' @click='filterMove' index='1' dataclass='fright'>滤芯复位</span>
				<div class='line' :style='lineStyle'><span class='bgblue'></span></div>
			</div>
			<div class='filtermain' :style='filmainStyle'>
				<ul class='mLeft'>
					<li>
						<div class='fliterPercItem' v-for='f in filterList'>
							<p class='cfix'>
								<span class='fleft' v-text='f.fName'>RO膜</span>
								<span class='fright' v-text='f.fPercent'>80%</span>
							</p>
							<div class='percent'><span class='bgblue' :style='"width:"+f.fPercent'></span></div>
						</div>
					</li>
					<!-- 滤芯描述 -->
					<li>
						<div class='fliterDescItem' v-for='d in filterDescList'>
							<p v-text='d.fName'>RO膜</p>
							<p class='color888' v-text='d.fDesc'>RO膜能够有效去除水中钙、镁、细菌、有机物、无机物、金属离子和放射性物质等，经过该装置净化出的水晶莹清澈、甜美甘醇</p>
							<div class='cfix'>
								<span class='fleft' v-text='d.allLife'>总寿命：<span>1000L</span></span>
								<span class='fright' v-text='d.surplus'>剩余：<span>800L</span></span>
							</div>
						</div>
					</li>
				</ul>
				<ul class='mRight'>
					<ul>
						<li class='filteritem' v-for='f in filterList' @click.prevent='resetSelect($event)' :fname='f.fName'>
							<span class='iconfont icon-emptycircle'></span>
							<p class='cfix'>
								<span class='fleft' v-text='f.fName'>RO膜</span>
								<span class='fright' v-text='f.fPercent'>80%</span>
							</p>
							<div class='percent'><span class='bgblue' :style='"width:"+f.fPercent'></span></div>
						</li>
					</ul>
					<div :index='resetFilter' @click='filterReset' class='reset bgblue'>确认复位</div>
				</ul>
			</div>
		</div>
	</div>

	<script src="javascripts/jquery.min.js"></script>
	<script src="amazeui/js/amazeui.min.js"></script>
	<script src="javascripts/public.js"></script>
	<script>
		// 显示loading
		var loaddiv = document.getElementsByClassName('loadingdiv');
		fadeFn({elem: loaddiv[0]});
	</script>
	<script src="javascripts/home.js"></script>
	<script src="javascripts/websocket.js"></script>
	<script>
		var back2home = document.getElementsByClassName('back2home');
		back2home[0].setAttribute('href','');
		window.onload = function(){
			var wsurl = "ws://localhost:8181";
			// wsFun(wsurl, function(str, res){
			// 	// str: 数据类型（接收，关闭， 错误），
			// 	// 在websocket.js中给出，不需要传
			// 	console.log(str, res);
			// 	// 接收数据更新到页面
			// 	if(str == '接收：'){
			// 		home.tdsPure = res;
			// 		home.tdsRaw = (res/2);
			// 	}
			// });
			
			// home 是vue实例
			home.filterList = [
				{fNum:'0',fName:'RO膜',fPercent:'80%'},
				{fNum:'1',fName:'PP棉',fPercent:'50%'},
				{fNum:'2',fName:'滤芯1',fPercent:'10%'},
				{fNum:'3',fName:'滤芯2',fPercent:'60%'},
				{fNum:'4',fName:'PP棉',fPercent:'40%'},
				{fNum:'5',fName:'滤芯1',fPercent:'90%'},
				{fNum:'6',fName:'滤芯2',fPercent:'70%'}
			];
			home.filterDescList = [
				{fNum:'0',fName:'RO膜',fDesc:'RO膜能够有效去除水中钙、镁、细菌、有机物、无机物、金属离子和放射性物质等，经过该装置净化出的水晶莹清澈、甜美甘醇',allLife:'100',surplus:'60'},
				{fNum:'1',fName:'PP棉',fDesc:'RO膜能够有效去除水中钙、镁、细菌、有机物、无机物、金属离子和放射性物质等，经过该装置净化出的水晶莹清澈、甜美甘醇',allLife:'100',surplus:'50'},
				{fNum:'2',fName:'滤芯1',fDesc:'RO膜能够有效去除水中钙、镁、细菌、有机物、无机物、金属离子和放射性物质等，经过该装置净化出的水晶莹清澈、甜美甘醇',allLife:'100',surplus:'20'},
				{fNum:'3',fName:'滤芯2',fDesc:'RO膜能够有效去除水中钙、镁、细菌、有机物、无机物、金属离子和放射性物质等，经过该装置净化出的水晶莹清澈、甜美甘醇',allLife:'100',surplus:'40'},
				{fNum:'4',fName:'PP棉',fDesc:'RO膜能够有效去除水中钙、镁、细菌、有机物、无机物、金属离子和放射性物质等，经过该装置净化出的水晶莹清澈、甜美甘醇',allLife:'100',surplus:'50'},
				{fNum:'5',fName:'滤芯1',fDesc:'RO膜能够有效去除水中钙、镁、细菌、有机物、无机物、金属离子和放射性物质等，经过该装置净化出的水晶莹清澈、甜美甘醇',allLife:'100',surplus:'20'},
				{fNum:'6',fName:'滤芯2',fDesc:'RO膜能够有效去除水中钙、镁、细菌、有机物、无机物、金属离子和放射性物质等，经过该装置净化出的水晶莹清澈、甜美甘醇',allLife:'100',surplus:'40'},
			];
			var href = location.href;
			// 显示滤芯页面
			if(href.indexOf('filter') > -1){
				home.homeStyle = 'opacity:0;';
				home.filterstyle = 'display:block;';
				document.title = '滤芯';
				$('#navbar>h2').text('滤芯');
				$('#navbar').css({position:'fixed'});
				$("#navbar").show();

			}else{
				home.homeStyle = 'opacity:1;';
			}
			home.tdsPure = 100;
			home.tdsRaw = 99;
			home.statusText = home.statusList[0];
			home.statusIconName = home.statusIconClass.makeWater;
			
			fadeFn({elem: $('.loadingdiv')[0],handle:'hide'});
		}
	</script>
</body>
</html>
