<!DOCTYPE html>
<html>
<head>
    <title>node_server 首页</title>
    <meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'>
    <style>
        .block {
            display: block;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h3>导航链接</h3>
    <div>
        <a class='block' href="/amaze">amazeui</a>
        <a class='block' href="/ble">ble</a>
        <a class='block' href="/dist_vux">dist_vux</a>
        <a class='block' href="/test">test</a>
        <a class='block' href="/websocket">websocket</a>
        <a class='block' href="/wxhard">wxhard</a>
        <a class='block' href="/dist_wmk">dist_wmk</a>
    </div>
</body>
</html>