<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" >
	<title>我的收益</title>
	<link rel="stylesheet" href="amazeui/css/amazeui.min.css">
	<link rel="stylesheet" href="iconfont/iconfont.css">
	<link rel="stylesheet" href="stylesheets/common.css">
	<link rel="stylesheet" href="stylesheets/myearnings.css">
	<script src="javascripts/vue.min.js"></script>
</head>
<body>
	<div id="earnings" class="am-container" >
		<h3><i class='iconfont icon-account'></i>我的账户: <span v-text='account'></span></h3>
		<p>
			<span>来源</span>
			<span>收入</span>
			<span>渠道</span>
		</p>
		<ul id='main' v-for='e in eList'>
			<li>e.name</li>
			<li>e.inmoney</li>
			<li>e.way</li>
		</ul>
		<ul id='footer'>
			<li>甲级成员：<span v-text='levelJ'></span></li>
			<li>乙级成员：<span v-text='levelY'></span></li>
			<li>累计：<span v-text='totalscore'></span>分</li>
		</ul>
	</div>
	<script src="javascripts/jquery.min.js"></script>
	<script src="amazeui/js/amazeui.min.js"></script>
	<script src="javascripts/public.js"></script>
	<script>
		var earnings = new Vue({
			el: '#earnings',
			data() {
				return {	
					account: '--',		// 账户名
					eList: [
						{name: '小花',inmoney: '100元现金',way: '推广'},
						{name: '小名',inmoney: '100天租赁',way: '推广'},
						{name: '虾条',inmoney: '100天租赁',way: '推广'},
					],
					levelJ: 0,			// 甲级成员
					levelY: 0,			// 乙级成员
					totalscore: 0		// 累计分
				}
			},
			mounted() {
				this.account = '嗯嗯';
				this.levelJ = '2';
				this.levelY = '1';
				this.totalscore = '250';
			},
			methods: {}
		})
	</script>
</body>
</html>