* {margin: 0;padding:0;list-style: none;box-sizing:border-box;}
body {padding: 0;}
#navbar{display: none;}
.upup {
	display: block !important;
	animation: upup .3s ease-in;
}
.down {
	display: block !important;
	animation: downdown .3s ease-out;
}
@keyframes upup {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}
@keyframes downdown {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(100%);
	}
}
.am-container {
	padding-top: 2vh;
	background: #fff;
}
label {
	margin-bottom: 0;
}
.am-container>.am-g {
	display: flex;
	align-items: center;
	position: relative;
	padding: 14px 20px;
	border-bottom: 1px solid #eee;
} 
.am-g input,
.am-g textarea {
	border: none;
}
/*确定按钮*/
.confirm {
	width: 80vw;
	position: absolute;
	padding: 10px;
	bottom: 6vh;
	left: 50%;
	margin-left: -40vw;
	text-align: center;
	border-radius: 4px;
	font-size: .8rem;
}
/*地区选择*/
#areaChoose {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: none;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.2);
	z-index: 999;
}
.areaChoosebg {
	width: 100%;
	height: 40vh;
}
.areaDiv {
	width: 100%;
	height: 60vh;
	position: relative;
	background: #fff;
}
.areaDiv .fblue {
	padding: 1vh 0;
	border-radius: 12px;
	background: #f6f6f6;
}
.atop {
	height: 8vh;
	display: flex;
	line-height: 8vh;
	border-bottom: 1px solid #eee;
}
.atop>p,
.atop>h2,
.atop>button {
	height: 100%;
	display: inline-block;
	float: left;
}
.atop>p,
.atop>button {
	width: 20%;
	flex: 1;
	text-align: center;
}
.atop>h4 {
	width: 60%;
	flex: 2;
}

.areaDiv>div:nth-of-type(2) {
	width: 100%;
	display: flex;
}
.areaDiv>div>div {
	flex: 1 0 33.33%;
	display: inline-block;
	overflow: hidden;
}
.areaDiv h2 {
	margin: 0;
}
/*收货地址*/
.label {
	align-self: flex-start;
}
/*请选择*/
.choosebtn {
	position: absolute;
	right: 20px;
}
/*省份，城市，区*/
.ptext,
.ctext,
.atext {
	text-align: center;
}

.areadiv {
	width: 100%;
	height: 46vh;
	padding: 0 2vw;
	overflow-y: scroll;
}
.province>p,
.city>p,
.area>p {
	position: relative;    
	margin: 6vh 0;
	text-align: center;
}
.areadiv>p:active {
	background: #f1f1f1;
}
.uaddrdetail {
	padding: 4px;
}
.areabtn {
	border: none;
	background: transparent;
}
.close {
	width: 12%;
	text-align: center;
	opacity: .5;
}

