<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>0803</title>
</head>
<body>
    <h4>数据响应</h4>
    <input type="text" class='input'>
    <script>
        /**
         * 监听对象变化
        */
        var input = document.querySelector('.input');
        input.onkeyup = function(){
            obj.value = this.value;
        }
        var obj = {
            value: '12'
        }
        Object.defineProperty(obj, 'value', {
            get: function(key, value){
                console.log(value);
            },
            set: function(key, value){
                console.log(value);
            }
        })
    </script>
</body>
</html>