<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no'>
    <link rel="stylesheet" href="/resource/stylesheets/common.css">
    <title>这是测试路径</title>
    <style>
        body {
            font-size: 1rem;
        }
        .block {
            display: block;
            margin: 1vh 0;
        }
    </style>
</head>
<body>
    <a class='block' href="../test/camera.html">camera</a>
    <a class='block' href="../test/camera1.html">camera1</a>
    <a class='block' href="../test/typescript.html">ts</a>
    <a class='block' href="../test/websocket.html">芯智云websocket测试平台</a>
</body>
</html>